
body {
    background-image: url('ishan-seefromthesky-eWSh-bkaKU8-unsplash.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  
  .topnav {
    background-color: #333;
    overflow: hidden;
  }
  
  .topnav a {
    float: right
    ;
    color: #f2f2f2;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color:midnightblue;
    color: black;
  }
  
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }

  .topnav h1{
      text-align: left;
      padding: 14px 16px;
      float:left;
      color: white
  }

.flex-container{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    align-items:center;
    
    
}
.flex-item{
    width:900px;
    color:black;
    border-radius:10px;
    border: 3px solid midnightblue;
    font-weight: bold;
    margin-bottom: 15px;
    background-color:white;
    background-size: cover;
    background-position: center;
    padding: 20px 0;
    min-height: 200px;
    display: flex;
    flex-direction: row;
  }

  .about{
    width:700px;
    color:black;
    border-radius:10px;
    border: 3px solid midnightblue;
    font-weight: bold;
    margin-bottom: 15px;
    background-color:white;
    background-size: cover;
    background-position: center;
    padding: 20px 0;
    min-height: 200px;
    display: flex;
    flex-direction: row;
    display:inline-block;

  }

  










  @media screen {
      
  }
